
<div class="fedlab-main">
    <div class="fedlab-hr">
        <div class="fedlab-hr-line"></div>
        <div class="fedlab-hr-content">我是分隔线</div>
    </div>
    <div class="fedlab-article-list">
        <% var last; page.posts.each(function(post, index) {
            var _href  = post.link ? url_for(post.link) : url_for(post.path),
                _thumb = post.thumb || theme.thumbs[parseInt(Math.random() * 5)],
                _title = post.title,
                _date  = post.date.format('YYYY-MM-DD');
                _author = post.author;
                console.log(post.thumb);
        %>
        <div class="fedlab-article-item">
            <div class="fedlab-article-item-banner">
                <a href="<%=_href%>">
                    <img class="pic" src="<%=_thumb%>" alt="<%=_title%>">
                </a>
            </div>
            <div class="fedlab-article-item-title">
                <h3>
                    <a href="<%=_href%>" title="<%=_title%>"><%=_title%></a>
                </h3>
            </div>
            <div class="fedlab-article-item-footer">
                <div class="author">
                    <a href="https://github.com/<%=_author.github_name%>" target="_blank">
                        <img class="author-avatar" src="https://avatars3.githubusercontent.com/u/5378965?v=4&s=460" width="24" height="24">
                        <span class="author-name"><%=_author.nick%></span>
                    </a>
                </div>
                <div class="date"><%=_date%></div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="fedlab-view-more">
        查看更多...
    </div>
    <% if (page.total > 1){ %>
    <nav id="page-nav">
        <%- paginator({
            prev_text: "&laquo; __('prev')",
            next_text: "__('next') &raquo;"
        }) %>
    </nav>
    <% } %>
</div>
