<%- partial('./header', null, {cache: !config.relative_link, index: false}) %>
<div class="fedlab-main fedlab-article">
    <div class="fedlab-article-details">
        <div class="fedlab-article-con">
            <div class="fedlab-article-con-title">
                <h3 title="<%=post.title%>"><%=post.title%></h3>
            </div>
            <p class="fedlab-article-con-meta">By <a href="http://www.zuojj.com"><%=post.author%></a> At <%=post.date.format('YYYY-MM-DD hh:mm:ss')%></p>
            <div class="fedlab-article-con-banner">
                <img src="<%=post.thumb%>" alt="<%=post.title%>">
            </div>
            <div class="fedlab-article-con-text">
                <div class="content-text">
                <%- post.content %>
                </div>
            </div>
            <div class="fedlab-article-con-reprint">
                <p>
                    <span>感谢你的阅读，本文出自</span><a href="https://fedlab-team.github.io/" hidefocus="true">FED实验室</a>，转载时请注明出处，谢谢合作。
                    <br> 格式为：FED实验室（
                    <a href="<%=url_for(post.path)%>" hidefocus="true"><%=config.url + url_for(post.path)%></a>）
                </p>
            </div>
            <%if(post.prev || post.next){%>
            <div class="fedlab-article-con-prevnext">
                <%if(post.prev){%>
                <p class="prev-page">上一篇: <a href="<%=url_for(post.prev.path)%>" title="<%=post.prev.title%>" rel="prev" hidefocus="true"><%=post.prev.title%></a></p>
                <%}%>
                <%if(post.next){%>
                <p class="next-page">下一篇: <a href="<%=url_for(post.next.path)%>" title="<%=post.next.title%>" rel="next" hidefocus="true"><%=post.next.title%></a></p>
                <%}%>
            </div>
            <%}%>
        </div>
    </div>
    <div class="fedlab-sidebar">
        <section class="fedlab-sidebar-qrcode">
            <div class="sec-content">
                <img src="http://www.zuojj.com/wp-content/uploads/2017/05/fedlab_qrcode.jpg">
            </div>
        </section>
        <section class="fedlab-sidebar-favlinks">
            <div class="sec-title">
                <h3>友情链接</h3>
            </div>
            <div class="sec-content">
                <ul>
                    <li><a href="http://fedlab-team.github.io">FED实验室</a></li>
                    <li><a href="http://www.zuojj.com">煦涵</a></li>
                    <li><a href="http://fedlab-team.github.io">FED实验室</a></li>
                    <li><a href="http://www.zuojj.com">煦涵</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>