<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="description" content="fedlab theme for hexo">
    <meta name="keywords" content="fedlab 煦涵说">
    <meta name="rating" content="general" /> 
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="{{ config.author }}" />
    <meta name="designer" content="{{ config.author }}" />
    <meta id="Copyright" content="Copyright 2015-2017 Fedlab. All Rights Reserved">
    <meta name="format-detection" content="telephone=no">


    <link type="image/x-icon" href="<%=url_for('img/favicon.ico')%>" rel="icon">
    <link type="image/x-icon" href="<%=url_for('img/favicon.ico')%>" rel="Shortcut Icon">
    <link type="image/x-icon" href="<%=url_for('img/favicon.ico')%>" rel="bookmark">
    <link rel="apple-touch-icon-precomposed" href="<%=url_for('img/touch-translation.png')%>">


    <title>
    <%if(page && page.title){%>
        <%=page.title%> - <%=config.title%>
    <%}else{%>
        <%=config.title%>
    <%}%>
    </title>
    <%- css('css/fedlab') %>
</head>
